# Control Flow and Loops

## Following topics are discussed below:
1. If-else-if
2. For loops
3. While loops
4. List Comprehensions

### 1. If-ELIF-Else

In [4]:
location = "Park"

if location =='Bank':
    print("Welcome to the bank")
elif location =="Park":
    print("Want to stroll?")
else: print("What you want to do?")

Want to stroll?

### 2. For Loop

In [10]:
list_1 = [1,2,3,4,5,6,7,8,9,10]

#### Iterating over List

In [6]:
for i in list_1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in list_1:
    if i%2==0:
        print (f'Even number is {i}')
    else:
        print(f'Odd number is {i}')

Odd number is 1
Even number is 2
Odd number is 3
Even number is 4
Odd number is 5
Even number is 6
Odd number is 7
Even number is 8
Odd number is 9
Even number is 10

In [9]:
sum = 0
for i in list_1:
    sum+=i
print("Sum of numbers from 1 to 10 is",sum)

Sum of numbers from 1 to 10 is 55

#### Iterating over Tuple

In [12]:
tup = (1,2,3,4,5)

In [14]:
for i in tup:
    print(i,end=' ')

1 2 3 4 5

In [22]:
list_2 = [(1,2),(3,4),(5,6),(7,8)]

In [23]:
for i in list_2:
    print (i, end=' ')

(1, 2) (3, 4) (5, 6) (7, 8)

In [24]:
for a,b in list_2:
    print(a,end=' ')
    print(b,end=' ')

1 2 3 4 5 6 7 8

In [25]:
list_3 = [(1,2,3),(4,5,6),(7,8,9)]

In [26]:
for i in list_3:
    print (i, end=' ')

(1, 2, 3) (4, 5, 6) (7, 8, 9)

In [33]:
for a,b,c in list_3:
    print(a,end=" ")
    print(b,end = " ")
    print(c, end = " ")

1 2 3 4 5 6 7 8 9

#### Iterating over dictionary

In [34]:
d = {"fname":"Aman","lname":"Rastogi"}

In [35]:
for i in d:
    print(i)

fname
lname

In [38]:
#both key-value pair will be printed. Iterated over items.
for i in d.items():
    print(i)

('fname', 'Aman')
('lname', 'Rastogi')

In [39]:
for key,val in d.items():
    print(val)

Aman
Rastogi

In [41]:
#Iterate over values only:
for val in d.values():
    print(val)

Aman
Rastogi

### 2. While Loop

In [51]:
a_list = [1,2,3,4]

In [46]:
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [55]:
x=0
while x<5:
    if x == 2:
        break
    print(x)
    x+=1

0
1

### 3. Range

Range is Python Generator, a generator is a function that returns an object (iterator) which we can iterate over (one value at a time).

Syntax: range(start,stop,next/stepover)

In [56]:
my_list = [1,2,3,4,5]

In [57]:
for i in my_list:
    print(i,end=' ')

1 2 3 4 5

In [58]:
for i in range(0,100,10):
    print(i,end=' ')

0 10 20 30 40 50 60 70 80 90

In [59]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
#Range is generating list, stepover can also be provided
list1 = list(range(0,11))
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 4. Enumerate

In [61]:
word='abcdefghijk'

In [63]:
for i in word:
    print(i, end=' ')

a b c d e f g h i j k

In [65]:
#Enumerate helps in generating tuple
for i in enumerate(word):
    print (i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')
(8, 'i')
(9, 'j')
(10, 'k')

### 5. Zip

Zip helps in tuple generator, list can be converted in tuples.

In [66]:
l1=[1,2,3,4]
l2=['a','b','c','d']

In [67]:
for i in zip(l1,l2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [68]:
l3=[100,200,300,400,500,600]

In [69]:
for i in zip(l1,l2,l3):
    print(i)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)

##### Creating List having elements as tuples:

In [70]:
list(zip(l1,l2,l3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400)]

### 6. in

in is used to check elemets present in list or not. It is also used in for loop to iterate over list, tuple, dict

In [71]:
'x' in [1,2,3]

False

In [73]:
'x' in ['x','y','z']

True

### 7. min and max

In [74]:
a = [10,50,100,-1,120]

In [75]:
min(a)

-1

In [76]:
max(a)

120

In [77]:
sorted(a)

[-1, 10, 50, 100, 120]

### 8. from Library

random library:

In [78]:
from random import shuffle

In [81]:
l3 = list(range(0,100,2))

In [83]:
shuffle (l3)

In [88]:
print(l3,end=' ')

[6, 22, 52, 58, 18, 60, 74, 34, 38, 16, 80, 20, 86, 90, 98, 12, 32, 36, 40, 0, 72, 50, 2, 44, 96, 54, 10, 14, 56, 4, 24, 70, 30, 66, 26, 76, 68, 84, 48, 46, 64, 78, 42, 92, 28, 82, 62, 8, 94, 88]

In [90]:
from random import randint

In [92]:
randint(0,100)

5

In [93]:
res = input('Enter a number')

Enter a number50

In [94]:
type(res)

str

In [95]:
res = int(input('Enter a int number\t'))

Enter a int number	100.0

ValueError: invalid literal for int() with base 10: '100.0'

In [96]:
res = int(input('Enter a int number\t'))

Enter a int number	100

In [97]:
print(res**0.5)

10.0

### 9. List Comprehensions

##### 9.1 To Create a list

In [101]:
# 1st way to create a list
l4=[]
str='hello'

for i in str:
    l4.append(i)
print(l4)

['h', 'e', 'l', 'l', 'o']

In [102]:
# Using list comprehension
l5=[i for i in str]
print(l5)

['h', 'e', 'l', 'l', 'o']

In [104]:
#using list comprehension and range generator
l6=[i for i in range(0,100,10)]
print(l6)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [105]:
#operations while creating list using list comprehension
l7=[i**2 for i in range(0,100,20)]
print(l7)

[0, 400, 1600, 3600, 6400]

In [108]:
#inserting elements in list which are even
l8 = [i for i in range(0,100,4) if i%2==0]
print(l8)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96]

In [109]:
#list elements
l9 = [i if i%2==0 else 'ODD' for i in range(0,20)]
print(l9)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10, 'ODD', 12, 'ODD', 14, 'ODD', 16, 'ODD', 18, 'ODD']