# This notebook will contain information about basic Python Data Structures and their uses.

1. Numbers
2. Strings
3. Lists
4. Dictionaries
5. Tuples
6. Files
7. Sets
8. Booleans

### 1. Numbers:

In [11]:
 a = 10
print(a)

10

##### General Arithmetic Operations: Addition, Subtraction, Multiplication, Division, Remainder(Modulo), Exponent

In [3]:
a + a

20

In [4]:
a - a

0

In [5]:
2 * a - a

10

In [6]:
a / 3

3.3333333333333335

In [7]:
a % 3

1

In [8]:
a ** a

10000000000

In [9]:
a

10

In [10]:
a ** 2

100

### 2. Strings:

Here, I am very performing basic String operations and using predefined string functions

In [1]:
"Hello World"

'Hello World'

In [2]:
"HI"
"Aman Rastogi"

'Aman Rastogi'

As we can see above only "Aman Rastogi" is printed instead of both the strings, reason Python is using interpreter which is working line by line

In [3]:
print("Hi")
print("Aman Rastogi")

Hi
Aman Rastogi

In [3]:
print("The length of string s is\t")
print(len("Aman Rastogi"))

The length of string s is
12

In [5]:
myString = "Hi this is pilot in Python!"

In [12]:
for i in myString:
    print(i,end="") #end is used in python to print within same line, but we can append how we need to end the string
print()
for i in myString:
    print(i,end=" ")

Hi this is pilot in Python
H i   t h i s   i s   p i l o t   i n   P y t h o n

Slicing & Indexing

In [15]:
print(myString[0]) #prints the 1st character of the input String
print(myString[-1]) #prints the last character of the input string

H
n

In [16]:
str="abcdefghijk"

Slicing : [start:stop(upto but not include this index): step]

In [17]:
str[:] # start - stop is not there, hence print the complete string

'abcdefghijk'

In [20]:
str[::2] #Skipping the next character from 0-index onwards

'acegik'

In [21]:
str[:-2:2]

'acegi'

In [22]:
str[:len(str):2]

'acegik'

In [25]:
str[0:len(str)-11] # here start_index & end_index is same

''

In [27]:
str[0:-1] #start_ndex=0 : end_index=-1, which means upto end of the string

'abcdefghij'

Reversing the String

In [28]:
str[::-1]

'kjihgfedcba'

In [41]:
#Working with steps of different lengths
#
#
print(str[::len(str)+1])
print(str[::len(str)])
print(str[::len(str)+10])
print(str[::len(str)+100])
print(str[::len(str)-1])
print("Working with -ve steps")
print(str[::-len(str)])
print(str[::len(str)-3])
print(str[::len(str)-100])

a
a
a
a
ak
Working with -ve steps
k
ai
k

String is immuatable in Python also, like Java. Hence everytime we work on a String new string will be created.

In [42]:
a="Aman Rastogi"

In [45]:
print(a.upper())
print(a.lower())
print(a.split()) #by default, delimiter is white space and return type is LIST.
print(a.split("a"))

AMAN RASTOGI
aman rastogi
['Aman', 'Rastogi']
['Am', 'n R', 'stogi']

#### String Formatting and Interpolation
1. Using .format()
2. f-string

In [46]:
print("Alan {} - Jon Von {} -  Steve {} ".format("Turing","Wozniack","Neumann"))

Alan Turing - Jon Von Wozniack -  Steve Neumann

In [50]:
#same string (a) has been interpolated.
print("Alan {a} - Jon Von {a} -  Steve {a} ".format(a="Turing",b="Wozniack",c="Neumann"))

Alan Turing - Jon Von Turing -  Steve Turing

In [49]:
print("Alan {a} - Jon Von {c} -  Steve {b} ".format(a="Turing",b="Wozniack",c="Neumann"))

Alan Turing - Jon Von Neumann -  Steve Wozniack

In [51]:
print("Alan {1} - Jon Von {1} -  Steve {1} ".format("Turing","Wozniack","Neumann"))

Alan Wozniack - Jon Von Wozniack -  Steve Wozniack

In [52]:
print("Alan {0} - Jon Von {2} -  Steve {1} ".format("Turing","Wozniack","Neumann"))

Alan Turing - Jon Von Neumann -  Steve Wozniack

In [58]:
res=100/3

In [59]:
print(res)

33.333333333333336

In [61]:
print("The value of a is {a:1.5f}".format(a=res))

The value of a is 33.33333

##### f-String

In [62]:
a= 100
res=100/77

In [63]:
print(f"the result is {res}")

the result is 1.2987012987012987

In [65]:
print(f"{a}/77 is {res}")

100/77 is 1.2987012987012987

In [69]:
a="Aman"
b="Rastogi"
print(f"{a} {b}")

Aman Rastogi

### 3. Lists

In [1]:
a= ['1',aman,4.0]

NameError: name 'aman' is not defined

In [2]:
a= ['1','aman',4.0,98]

In [3]:
print(a)

['1', 'aman', 4.0, 98]

In [4]:
print(a.sort())

TypeError: '<' not supported between instances of 'float' and 'str'

In [9]:
b=[12,11,10,9]
print(b)
print(b.sort())
print(b)
print(b.reverse())
print(b)
print(b.pop())
print(b)

[12, 11, 10, 9]
None
[9, 10, 11, 12]
None
[12, 11, 10, 9]
9
[12, 11, 10]

In [10]:
set("aman")

{'a', 'm', 'n'}

### 4. Dictionaries

Dictionaries store value in unordered sequence.
They store value as key-value pair.
Preferred over lists when indexing is not mandatory or in the code flow index will not be used.

Syntax: dict = {"Key1":"Val1","Key2":"Val2"}

In [24]:
dict1 = {'apple':2.99,'oranges':3.5,'pineapple':4.50}

In [12]:
type(dict1)

dict

In [25]:
#To Retrieve all keys
dict1.keys()

dict_keys(['apple', 'oranges', 'pineapple'])

In [26]:
#To retrieve all values
dict1.values()

dict_values([2.99, 3.5, 4.5])

In [27]:
#To retrieve all key-value pairs
dict1.items()

dict_items([('apple', 2.99), ('oranges', 3.5), ('pineapple', 4.5)])

In [28]:
dict1['apple']

2.99

In [29]:
dict1['figs']=4.5

In [31]:
dict1

{'apple': 2.99, 'oranges': 3.5, 'pineapple': 4.5, 'figs': 4.5}

In [32]:
#Remove give apple and its value. Returns apple value
dict1.pop('apple')

2.99

In [33]:
dict1

{'oranges': 3.5, 'pineapple': 4.5, 'figs': 4.5}

In [36]:
#Returns figs value but do not delete figs key
dict1.get('figs')

4.5

In [39]:
dict1

{'oranges': 3.5, 'pineapple': 4.5, 'figs': 4.5}

In [45]:
#Dictionary can contain other data structures also.
#Here dict 2 contains, None, List, dicitinary within dictionary
dict2 = {"a":None,"b":[1,2,3,5],"c":{'oranges': 3.5, 'pineapple': 4.5, 'figs': 4.5, 'str':['a','b','a','c','e']}}

In [47]:
type(dict2)

dict

In [49]:
#Retrieving Lists from Dict2
print(dict2['b'])
print(dict2['c']['str'])

[1, 2, 3, 5]
['a', 'b', 'a', 'c', 'e']

In [57]:
#Retrieving from dict using get() method
print(dict2.get('b'))
print(dict2.get('c'))
print(dict2.get('c').get('str')) 
print(dict2.get('c').get('str')[3].upper())

[1, 2, 3, 5]
{'oranges': 3.5, 'pineapple': 4.5, 'figs': 4.5, 'str': ['a', 'b', 'a', 'c', 'e']}
['a', 'b', 'a', 'c', 'e']
C

#### Also Explore ordereddict for ordered dictionary.

### 5. Tuples

Tuples are similar to Lists, but tuples are immutable.

Hence, state of tuple cannot be changed, once value is assigned to it.

Slicing and Indexing works in Tuples.

In [58]:
tup = (1,2,3)

In [59]:
type(tup)

tuple

In [60]:
print(tup)

(1, 2, 3)

In [61]:
tup[0]

1

In [63]:
print(tup.count(1))
print(tup.index(3))

1
2

In [64]:
#values cannot be modified in tuple
tup[1]=5

TypeError: 'tuple' object does not support item assignment

In [65]:
tup[3]=5

TypeError: 'tuple' object does not support item assignment

In [71]:
#Adding values in tuple
tup_list_convert = list(tup)
#print(type(tup_list_convert))
tup_list_convert.append(5)
tup_list_convert.append(50)
tup_list_convert.append(500)
tup = tuple(tup_list_convert)
print(tup)

(1, 2, 3, 5, 50, 500, 5, 50, 500)

### 6. Sets

Unordered collection of Unique objeccts. Hence, only one object can be added in set.

In [72]:
Set1 = set()

In [73]:
type(Set1)

set

In [74]:
print(Set1)

set()

In [75]:
Set1.add(1)
Set1.add(2)
Set1.add(3)
print(Set1)

{1, 2, 3}

In [76]:
#Values will be overwritten,2 will be overwritten
Set1.add(2)
print(Set1)

{1, 2, 3}

In [83]:
list_used_for_set = [1,2,2,2,3,43,3]
print(list_used_for_set)

[1, 2, 2, 2, 3, 43, 3]

In [84]:
print(list_used_for_set)

[1, 2, 2, 2, 3, 43, 3]

In [88]:
s=set(list_used_for_set)
print("Set is :\t",s)

Set is :	 {1, 2, 3, 43}